# Ignore everything
*

# Except these folders
!.github/
!.github/**/*
!.storybook/
!.storybook/**/*
!scripts/
!scripts/**/*
!packages/
!packages/**/*

# Except these files
!.babelrc
!.browserslistrc
!.editorconfig
!.eslintignore
!.gitignore
!.node-version
!.npmrc
!.prettierignore
!eslint.config.js
!LICENSE
!CHANGELOG.md
!package.json
!prettier.config.js
!pnpm-lock.yaml
!README.md
!renovate.json
!tsconfig.json

# Reignore these folders
node_modules/
