# Ignore everything
*

# Except these folders
!.storybook/
!.storybook/**/*
!docs/
!docs/**/*
!scripts/
!scripts/**/*
!packages/
!packages/**/*

# Except these files
!eslint.config.js
!package.json
!prettier.config.js
!renovate.json
!tsconfig.json

# Reignore these folders
node_modules/
