# Ignore everything
*

# Except these folders
!.storybook/
!.storybook/**/*
!scripts/
!scripts/**/*
!packages/
!packages/**/*

# Except these files
!.babelrc
!.prettierrc.cjs
!eslint.config.js
!package.json
!renovate.json
!tsconfig.json

# Reignore these folders
node_modules/
