# Ignore everything
*

# Except these folders
!docs/
!docs/**/*
!src/
!src/**/*
!static/
!static/**/*

# Except these files
!.gitignore
!assets.d.ts
!babel.config.mjs
!docusaurus.config.ts
!eslint.config.mjs
!index.ts
!package.json
!prettier.config.mjs
!sidebars.ts
!tsconfig.json
