@keyframes blink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

.pin {
	display: flex;
	gap: medium;
	align-items: center;
	flex-direction: column;
}

.group {
	display: flex;
	gap: 8px;
	align-items: center;
}

.label {
	font-size: 22px;
}

.slot {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 56px;
	width: 56px;
	line-height: 56px;
	cursor: text;
	border-radius: var(--ifm-global-radius);
	border: 1px solid rgb(54, 58, 63);
}

.slot[data-placeholder] {
	color: grey;
}

.slot[data-concealed] {
	font-size: 64px;
}

.slot[data-highlighted] {
	outline-offset: -1;
	outline-style: solid;
	outline-width: 1;
	outline-color: var(--ifm-color-primary);
}

.slot[data-caret]::after {
	display: block;
	content: '';
	position: absolute;
	width: 1px;
	height: 26px;
	animation: blink 1.2s ease-out infinite;
	background: var(--ifm-color-primary);
}
