# Ignore everything
*

# Except these folders
!.storybook/
!.storybook/**/*
!src/
!src/**/*

# Except these files
!.gitignore
!eslint.config.js
!index.ts
!package.json
!prettier.config.js
!tsconfig.json
