.features {
	display: flex;
	margin: 0;
	padding: 0;
	flex-direction: column;
	list-style: none;
}

.features-list {
	display: flex;
	flex-direction: column;
	margin: 0;
	gap: 8px;
	padding: 0;
}

.features-feature {
	display: flex;
	gap: 8px;
	align-items: center;
}

.features-feature-icon {
	width: 24px;
	height: 24px;
	color: var(--ifm-color-primary);
}

.features-feature-description {
	margin: 0 !important;
}
